<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="ConnectionData" class="com.itheima.jdbc.ConnectionData">
        <property name="url" value="123"></property>
        <property name="driverClassName" value="456"></property>
        <property name="password" value="789"></property>
        <property name="userName" value="741"></property>
    </bean>
</beans>