<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="OrderDao" class="com.itheima.dao.impl.OrderDaoImpl"></bean>
    <bean id="UserDao" class="com.itheima.dao.impl.UserDaoImpl"></bean>
    <bean id="GoodsDao" class="com.itheima.dao.impl.GoodsDaoImpl"></bean>
    <bean id="OrderService" class="com.itheima.service.impl.OrderServiceImpl">
        <property name="orderDao" ref="OrderDao"></property>
        <property name="goodsDao" ref="GoodsDao"></property>
        <property name="userDao" ref="UserDao"></property>
    </bean>
</beans>